/*
    General styles
 */

html {
    overflow-x: hidden;
}

h1, .jumbotron h1,
h2, .jumbotron h2,
h3, .jumbotron h3,
h4, .jumbotron h4,
p, a, #ministries-title {
    font-family: "NexaFontFabric", sans-serif;
}

h1, h2, h3, h4, p {
    text-align: center;
}

a:link, a:hover {
    text-decoration: none !important;
}

.parallax-window {
    min-height: 800px;
    background: transparent;
}

@font-face {
    font-family: "NexaFontFabric";
    src: url("../fonts/nexa/NexaLight.otf") format('opentype'),
    url("../fonts/nexa/NexaLight.ttf") format('truetype');
}

@font-face {
    font-family: "NexaFontFabric";
    font-weight: bold;
    src: url("../fonts/nexa/NexaBold.otf") format('opentype'),
    url("../fonts/nexa/NexaBold.ttf") format('truetype');
}

@font-face {
    font-family: "JosefineSans";
    src: url("../fonts/josefin-sans/JosefinSans-Thin.ttf") format('truetype');
}

@font-face {
    font-family: "JosefineSans";
    font-weight: bold;
    src: url("../fonts/josefin-sans/JosefinSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Amatica Sc";
    src: url("../fonts/amatic/AmaticSC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Amatica Sc";
    font-weight: bold;
    src: url("../fonts/amatic/AmaticSC-Regular.ttf") format("truetype");
}

.container-fluid,
.container {
    z-index: 5;
}

#events-jumbo,
#ministries-jumbo,
#affiliations-jumbo {
    background-color: #fff;
}

#mission-jumbo,
#activities-jumbo,
#contact-jumbo {
    background-color: #f0f0f0;
}


/*
    Scroll Offset
 */

h3:before,
h2:before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
}

#our-mission-title:before {
    display: block;
    content: " ";
    margin-top: -140px;
    height: 140px;
    visibility: hidden;
}


/*
    Main navbar
 */

#homeNav {
    border-color: transparent !important;
    background: none;
}

.navbar,
.container{
    border-radius: 0 !important;
}

#nav-list {
    margin-right: 25%;
}

nav div ul li {
    margin-top: 2%;
    margin-left: 10px;
}

nav div ul li a {
    color: #fff;
    font-size: 112%;
}

.container-fluid {
    border-radius: 0;
}

#nav-logo {
    margin-top: -10%;
    margin-left: 5%;
}

#collapse-btn {
    z-index: 1;
    border-color: #fff;
    color: #fff;
    font-family: "NexaFontFabric", sans-serif;
    font-size: 120%;
}

#collapse-btn:active {
    background: transparent;
}


/*
    Side navbar
 */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.2s;
    font-family: "NexaFontFabric", sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/*
    Welcome Home banner
 */

#welcome-letters{
    z-index: 2;
    text-align: center;
    font-size: 450%;
    font-family: "JosefineSans", sans-serif;
    color: #fff;
    margin-top: -45%;
}

#welcome-letters-fullstop {
    color: #73fd20;
    font-size: 130%;
}

#welcome-subtitle {
    color: #fff;
    font-family: "JosefineSans", sans-serif;
    font-size: 250%;
    margin-bottom: 25%;
}

#welcome-banner {
    margin: -100px 0 0 0;
    width: 100%;
}

#menuDownLink {
    width: 10%;
}

#menuDown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    font-size: 300%;
    color: #fff;
}

#menuDown:hover {
     /*color: #73fd20;*/
    color: lightgray;
}


/*
    Service Time & Visitor section
 */
#service-visitor-row {
    margin-top: 3%;
}

#service-visitor-jumbo {
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 18%;
}

#service-time-col {
    border-right: 2px groove lightgray;
}

#time-icon,
#visitor-icon,
#loaction-icon {
    font-size: 250%;
    display: block;
    text-align: center;
    color: #3c3c3c;
}

#loaction-icon:hover {
    color: #73fd20;
}

#loaction-col {
    /*margin-top: 5%;*/
}

#visit-us-btn-holder {
    text-align: center;
}


/*
    About Us section
 */

#our-mission-title {
    margin-top: 8%;
}

#more-about-us-btn {
    position: relative;
    margin-left: 44%;
    margin-bottom: 10%;
}

#more-about-us-btn:hover,
#activities-btn:hover,
#see-all-event-btn:hover {
    background-color: #4cae4c;
    color: #fff;
    border-color: #67b168;

}

/*
    To-home arrow
 */

#arrow-up-btn {
    z-index: 3;
    position: fixed;
    top: 93%;
    margin-left: 95%;
    background-color: #d0d0d0;
    visibility: hidden;
}

#arrow-up-icon {
    color: #3c3c3c;
}

#arrow-up-btn:hover {
    background-color: #d0d0d0;
}


/*
    Seasonal banner
 */

#background2 {
    z-index: -5;
    margin-top: -3%;
    width: 100%;
    position: relative;
}

#background2-title {
    z-index: -1;
    text-align: center;
    font-size: 500%;
    font-family: 'Amatica Sc', 'sans-serif';
    color: #3c3c3c;
    margin-top: -600px;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
}

#sermon-series-label {
    z-index: -1;
    font-family: 'Amatica Sc', 'sans-serif';
    font-size: 300%;
    position: absolute;
    margin-top: -180px;
    margin-left: 35%;
    color: #fff;
}

#listen-btn {
    z-index: 0;
    position: absolute;
    margin-top: -180px;
    margin-left: 58%;
    background: none;
    border-color: #fff;
    vertical-align: middle;
}

#listen-btn:hover{
    background-color: #4cae4c;
    border-color: #67b168;
}


/*
    Divider lines
 */

.border {
    border-bottom: groove;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.border-sm {
    border-bottom: groove;
    width: 25%;
    margin-left: 37.5%;
    margin-bottom: 5%;
}



/*
    Events section
 */

#event-row {
    margin-bottom: 5%;
}

#events-jumbo {
    text-align: center;
}

#events-title {
    margin-top: 5%;
}

.card {
    width: 80%;
    margin-left: 10%;
    border: 1px solid lightgray;
    margin-bottom: 15%;
    text-align: center;
}

.card-img-top {
    width: 100%;
}

.card-block h4 {
    font-weight: bold;
}

.card-block a {
    margin-bottom: 5%;
}



/*
    Visitor section
 */

#visitor-row .parallax-window {
    min-height: 550px;
}

.visitor-content {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
    text-align: center;
    margin-top: 5%;
}

.visitor-content a {
    background: transparent;
    color: #fff;
}

.visitor-content a:hover {
    background-color: #4cae4c;
    border-color: #67b168;
    color: #fff;
}

#visitor-banner {
    z-index: -1;
    position: relative;
    width: 100%;
}




/*
    Activities section
 */

#activities-row {
    margin-top: -10%;
}

#activities-jumbo {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#activities-title {
    margin-top: 10%;
}

#activities-jumbo .img-circle {
    position: relative;
}

.connect-link:hover .img-circle {
    -webkit-filter: blur(6px);
    transition: 0.2s -webkit-filter linear;
}

.connect-link:hover .connect-label {
    opacity: 1;
    transition: 0.25s opacity linear;
}

#activities-btn {
    margin-top: 8%;
    margin-left: 44%;
    margin-bottom: 10%;
}

.connect-col {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.connect-image {
    position: relative;
    display: block;
}

.connect-link {
    width: 300px;
    height: 300px;
}

.connect-text {
    border-radius: 100% !important;
    z-index: 3;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align:middle;
    line-height:310px;
}

.connect-text h4 {
    color: #fff;
    display: inline-table;
    vertical-align:middle;
    opacity: 0;
}



/*
    Media section
 */

#media-row {
    z-index: 0;
}

#media-background {
    z-index: -5;
    width: 100%;
    position: relative;
}

#media-title {
    z-index: -1;
    font-family: "NexaFontFabric", sans-serif;
    position: absolute;
    margin-top: 8%;
    margin-left: 46%;
    color: #fff;
}

#media-border-sm {
    z-index: -1;
    position: absolute;
    margin-top: 12%;
    border: 1px solid dimgrey;
}

#media-jumbo {
    margin-bottom: -10%;
}

#cam-mic-cont {
    z-index: 0;
}

#mic-photo,
#camera-photo {
    position: absolute;
    margin-top: 75%;
}

#mic-photo {
    margin-left: -10%;
}

#camera-photo {
    margin-left: 20%;
}

#mic-photo:hover,
#camera-photo:hover {
    -webkit-filter: blur(6px);
    transition: 0.2s -webkit-filter linear;
}

#camera-title,
#mic-title {
    z-index: 1;
    margin-top: 108%;
    position: absolute;
    color: #fff;
    visibility: hidden;
}

#camera-title {
    margin-left: 120%;
    width: 0;
}

#mic-title {
    margin-left: 80%;
    width: 0;
}

#social-media {
    z-index: 1;
    position: absolute;
    margin-left: 43%;
    margin-top: 45%;
}

.social-media-logo {
    padding-left: 5px;
    padding-right: 5px;
}

#instagram-logo {
    margin-left: 1px;
}

#fb-logo:hover,
#instagram-logo:hover,
#twitter-logo:hover {
    color: #3eb25b;
}



/*
    Ministries & Affiliations section
 */

#ministries-row {
    z-index: 2;
}

#ministries-jumbo {
    margin-bottom: 0;
}

#ministries-title {
    margin-top: 10%;
}

.card img {
    margin-bottom: 5%;
}

.ministry-card {
    margin-top: 10%;
    border-radius: 5%;
    box-shadow: 1px 1px 1px lightgrey;
}

#oasis-logo {
    margin-left: 12%;
}

#paradigm-logo {
    margin-left: 22%;
}

#ministries-footer {
    /*margin-bottom: 2%;*/
}

#navbar-footer-home.navbar.navbar-inverse {
    margin-bottom: -1% !important;
    border: none;
    height: 100px;
}

.thumbnail {
    height: 350px;
    border: 3px groove lightgray !important;
}

.thumbnail .caption {
    position: absolute;
}

.menuDown {
    font-size: 180%;
    display: block;
    margin-left: 45%;
    margin-right: auto;
    color: #3c3c3c;
    text-align: center;
    cursor: pointer;
}

.menuDown-ministries {
    font-size: 180%;
    display: block;
    margin-left: 45%;
    margin-right: auto;
    color: #3c3c3c;
    text-align: center;
    cursor: pointer;
}

.menuDown-ministries:hover {
    color: grey;
}

#affiliations-row {
    z-index: 2;
}

#affiliations-jumbo {
    margin-top: -10%;
}

#affiliations-title,
#affiliations-border,
#affiliations-text {
    position: absolute;
}

#affiliations-title {
    margin-left: 39%;
    margin-top: 25%;
}

#affiliations-border {
    margin-left: 34%;
    margin-top: 28%;
}

#affiliations-text {
    margin-top: 50%;
}

#cotn-logo {
    position: absolute;
    margin-left: 40%;
    margin-top: 90%;
}

#affiliations-background {
    z-index: -2;
    width: 100%;
    position: relative;
    min-height: 600px;
    opacity: 0.32;
}

#affiliations-footer {
    /*margin-bottom: 5%;*/
}



/*
    Contact section
 */

#contact-jumbo {
    margin-bottom: 0 !important;
    padding: 0 0;
    background: #fff;
}

#contact-title {
    margin-top: 10%;
}

#contact-content,
#contact-content-addresses {
    margin-bottom: 3%;
}

#contact-phone p,
#contact-address p,
#contact-office p,
#contact-postal p,
#contact-banking p,
#contact-email p {
    text-align: left;
    margin-left: 15%;
}

#addressIcon,
#phone-icon,
#office-icon,
#postal-icon,
#bank-icon,
#email-icon {
    color: #3eb25b;
    font-size: 100%;
    margin: 0 auto;
}

#nc-snapscan {
    display: block;
    float: right;
    margin-right: 10%;
}

#map-container {
    text-align: center;
    margin-top: 5%;
}

#map {
    margin: 0 auto;
    width: 90%;
    height:320px;
    background-color: grey;
}

